* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

body {
  background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(255, 255, 255, 0.801)), url('./components/images/background.jpg');
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  height: 100vh;
  color: #555;
}
